
.page-header,
.main-portfolio,
.section-portfolio,
.section-features,
.section-clients {
    background-color: $primary-background-color;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
}


// PADDINGs
.section-features {
    @media screen and (max-width: 1199px) {
        padding-top: 60px;
        padding-bottom: 60px;;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 0;
    }
}


.section-portfolio,
.section-team,
.section-clients,
.section-activity {
    @media screen and (max-width: 1199px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}


// BUTTON common styles
.button {
    color: $white-color;
    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    transition: background-color 250ms $transition-timing-function,
        box-shadow 250ms $transition-timing-function;
}


// BODY
body {
    color: $primary-text-color;
    font-family: $primary-font;
    background-color: $primary-background-color;

    // не скроллится контент за модальным окном
    &.modal-open {
        overflow: hidden;
    }
}



