// HERO section

.hero {
    height: 400px;
    background-color: $secondary-background-color;
    text-align: center;
    padding: 118px 0;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/mobile_hero_bcg_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media screen and (min-width: 1200px) {
        max-width: 1600px;
        height: 600px;
        padding: 200px 0;
    }
}


@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile_hero_bcg_img2x.jpg);
    }
}


@media screen and (min-width: 481px) {
    .hero {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet_hero_bcg_img.jpg);
    }
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .hero {
                background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet_hero_bcg_img2x.jpg);
        }
    }
}


@media screen and (min-width: 769px) {
    .hero {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop_hero_bcg_img.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop_hero_bcg_img2x.jpg);
        }
    }
}


.hero__title {
    color: $white-color;
    font-weight: 900;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0 auto 30px;
    font-size: 26px;
    line-height: 1.62;

    @media screen and (min-width: 768px) {
        width: 360px;
    }
    
    @media screen and (min-width: 1200px) {
        font-size: 44px;
        line-height: 1.36;
        width: 696px;
    }
}

.hero__button {
    width: 200px;
    height: 50px;
    justify-content: center;
    align-items: center;

    &:hover, &:focus {
        background-color: $blue-hover-focus-active-color;
    }

    @media screen and (min-width: 1200px) {
        width: 216px;
    }
}

