
.section-features__title {
    color: $title-text-color;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;

    @media screen and (max-width: 767px) {
        text-align: center;
    }
}


.section-features__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}


// SVG-icons section FEATURES
.section-features__icon {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    @include flexCentered;
    background: $team-background-color;
    margin-bottom: 30px;
    border-radius: 4px;

    @media screen and (max-width: 767px) {
        max-width: 450px;
        height: 120px;
    }
    
    @media screen and (min-width: 768px) {
        width: 354px;
        height: 120px;
    }
    
    @media screen and (min-width: 1200px) {
        width: 270px;
        height: 120px;
    }
}


.section-features__list {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        // margin: -15px;
        gap: 30px;
    }
}


.section-features__item {
    @media screen and (min-width: 480px) {
        width: 450px;
    }
    
    @media screen and (min-width: 768px) {
        width: calc((100% - 1 * 30px) / 2);
        // margin: 15px;
    }
    
    @media screen and (min-width: 1200px) {
        width: calc((100% - 3 * 30px) / 4);
        // margin: 15px;
    }

    &:not(:last-child) {
        @media screen and (max-width: 767px) {
            margin-bottom: 30px;
            }
        }                    
    }