$primary-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;
$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$white-color: #ffffff;
$primary-background-color: #ffffff;
$secondary-background-color: #2f303a;
$team-background-color: #f5f4fa;
$blue-hover-focus-active-color: #188ce8;
$footer-email-phone-color: rgba(255, 255, 255, 0.6);
$icon-grey-color: #afb1b8;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
